body {
    margin: 0;
    min-height: 100vh;
    font-family:'Courier New', Courier, monospace;
    background: blanchedalmond;
    color: crimson;
}
header {
    background:blueviolet;
    color: white;
    text-align: center;
    padding: 5px;
    border-bottom: 4px solid black;
}
main {
    max-width: 900px;
    margin: 2rem auto;
    background: lightblue;
    border-radius: 12px;
    box-shadow: 0 4px 24px ;
    padding: 2rem;
}
.paginaAbsolute {
    position: absolute;
    top: 125px;
    right: 60px;
    width: 320px;
    border: 2px solid black;
    border-radius: 8px;
    background: beige;
    color: blueviolet;
    padding: 1rem;
    box-shadow: 0 2px aliceblue;
    z-index: 10;
}
.containerRelative {
    position: relative;
    height: 320px;
    border: 2px solid blue;
    border-radius: 10px;
    background: chartreuse;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: auto;
    padding: 1rem;
}
.paginaRelative {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    background: lightgray;
    color: blue;
    padding: 1rem;
    box-shadow: 0 2px 12px chocolate;
    z-index: 5;
}