* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: #EFEEEA;
    border: 5px solid #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
} 

h1{
     color: #FE7743;
    font-family: Arial, sans-serif;
    text-align: center;
}

#parrafo{
   color: #273F4F;
}
body{
      border-color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}